<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Akij Cement Ltd. </title> 
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/fav.svg">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,500,600,700,800&display=swap" rel="stylesheet">    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/default.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body>
 
     <!-- Header Top Area Start -->
    <div class="HeaderTopArea">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-6">
                    <div class="follow_us">
                        <div class="leftColl">
                            <p>Follow us on</p>
                        </div>
                        <div class="rightColl">
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-linkedin-in"></i>
                            <i class="fab fa-youtube"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-6">
                    <a href="http://www.akij.net" target="_blanck">
                        <div class="webmail_us">
                            <p>A concern of Akij Group</p><img src="assets//img/akijlogo.svg"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Top Area End  -->

    <!-- Logo Area Start -->
    <div class="logoArea">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-4">
                    <a href="index.html">
                        <div class="logoHere"><img src="assets/img/logo.png"></div>
                    </a>
                </div>
                <div class="col-lg-8 col-8">
                    <div class="quick_box_wrapper">
                        <div class="quick_box hotline">
                            <div class="quick_icon"><i class="fas fa-phone"></i></div>
                            <div class="quick_details">
                                <h3>Contact Us</h3>
                                <p>Toll Free: 08000016609

                                </p>
                            </div>
                        </div>
                        <div class="quick_box">
                            <div class="quick_icon"><i class="fas fa-envelope"></i></div>
                            <div class="quick_details">
                                <h3>Email Us:</h3>
                                <p>Info.akijcement@akij.net

                                </p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Logo Area End -->

    <!-- Navigation Area Start -->
    <div class="NavigationWrapper" id="myHeader">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="Navigation">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                              </button>
                             <div class="navbar-collapse collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">

                                    <li class="nav-item"> <a class="nav-link activemenu" href="index.html">Home <span class="sr-only">(current)</span></a>  </li>
                                    <li class="nav-item"> <a class="nav-link" href="">Company </a>  </li>
                                    <li class="nav-item"> <a class="nav-link" href=""> Products</a>  </li>
                                     <li class="nav-item"> <a class="nav-link" href=""> Why Akij Cement</a>  </li>
                                     <li class="nav-item"> <a class="nav-link" href=""> Media</a>  </li>
                                     <li class="nav-item"> <a class="nav-link" href=""> Order Now</a>  </li>
                                    <li class="nav-item"> <a class="nav-link" href="contact.html"> Contact Us </a>  </li>
                                    <li class="nav-item"> <a class="nav-link" target="_blanck" href=""> Bandhan Magazine</a>  </li>
                                    
                                  </ul>
                            </div>
                        </nav>
                    </div>
                </div>
               
               
            </div>
        </div>
    </div>
    <!-- Navigation Area End -->

    <!-- Hero Banner Start -->
    <!-- <div class="parallax-window" data-parallax="scroll" data-image-src="assets/img/b2.jpg"></div> -->
    <!-- Hero Banner End -->

  <!-- Billing Order strat -->
  <div class="billingOrder">
      <div class="container">
          <div class="row">
              <div class="col-lg-7 ">
                  <div class="billingForm">
                      <h1>Billing Details</h1>
                      <form>
                          <div class="row">
                            <div class="firstname Address">
                                <label >Your Name:</label><br>
                                <input type="text" name=""  value="Kamal Khan" >
                               </div>
                               <div class="firstname email">
                                <label>Mobile Number:</label><br>
                                <input type="text"  name="fname" value="01XXXXXXXX" >
                         
                               </div>
                       <div class="firstname email">
                        <label>Email Address:</label><br>
                        <input type="text"  name="fname" value="Email Address">
                 
                       </div>
                      
                       <div class="firstname Address">
                        <label >Delivery Address:</label><br>
                        <input type="text" name="" >
                       </div>
                       <br>
                       <div class="firstname">
                        <label>Rhana:</label><br>
                        <input type="text"  name="fname" value="Uttara" >
                 
                       </div>
                       <div class="firstname">
                        <label >District:</label><br>
                        <input type="text" name="fname" value="Dhaka">
                       </div>
                          </div>
                          <div class="firstname Recipient">
                            <label>Recipient Name:</label><br>
                            <input type="text"  name="fname" value="Uttara" >
                     
                           </div>
                           <div class="firstname Recipient">
                            <label >Recipient Mobile Number:</label><br>
                            <input type="text" name="fname" value="Dhaka">
                           </div>
                              </div>
                              <div class="firstname Address note">
                                <label >Note (Optional):</label><br>
                                <input type="text" name="" value="Type" >
                               </div>
                          
                               <div class="sendotpBTn cuponTextbtn">        
                                       
                                <button type="submit" class="productBtn sendbtn cuponapply">Apply</button>
                            </div>
                             
                             
                               <div class="firstname otptext cuponText ">
                                <label>Have a coupon?</label><br>
                                <input type="text"  name="fname" value="Type"> 
                             
                               </div>
                           
                      </form>
                  
                     </div>
              
                  <div class="col-lg-5 ">
                      <div class="orderbox">
                          <h1>Your Order</h1>
                        
                          <div class="orderProduct">
                              <img src="assets/img/p2.png">
                              <h5>Subtotal:</h5>
                          </div>
                          <div class="orderProductText">
                              <h2>CEM II/B-M (PCC)</h2>
                              <h4>Delivery Location :<b>Uttara</b></h4>
                              <p>৳ 435.00 X 200 bag</p><br>
                              <h5>৳ 87,000.00</h5>
                          </div>
                        
                          <div class="borderText billingbody">
                            
                             <div class="paymentmethod">
                               
                                <h4>Payment Method</h4>
                                <form class="paymentform">
                                    <div class="paymethod">
                                
                                        <div class="bkash">
                                            <input type="radio"  name="gender" value="male"> <span>Bkash Payment</span>
                                        </div>
                                        <div class="bkash visa">
                                            <input type="radio"  name="gender" value="male"> <span>Cards/Transfer/Mobile Finance</span>
                                        </div>
                                        <div class="bkash bank">
                                            <input type="radio"  name="gender" value="male"> <span>Bank Transfer</span>
                                        </div>
                                         
                                    </div>
                                   
                                 
                                  </form>
                             </div>
                             <h6>Total Payable:</h6>
                             <h6>৳ 87,000.00</h6>
                             <div class="form-check ordercheck">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">I agree with to the<span>terms & conditions</span>  and return policy</label>
                              </div>
                      </div>
                      <div class="billborder">
                          
                      </div>
                      <button class="productBtn order">Process Payment</button>
                    </div>
                  </div>

              </div>
          </div>
      </div>

  
 
 


   

  

    <!-- Footer Area Start -->
    <div class="FooterArea bp">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="quick-detail text-center">
                        <div class="first-widget"><img src="assets/img/logo.png">
                            </div>
                        <div class="social-widghet">
                            <div class="social-link sociallink"><a href="#" target="_blanck"><i class="fab fa-facebook-f"></i></a><a href="#" target="_blanck"><i class="fab fa-linkedin"></i></a><a href="#" target="_blanck"><i class="fab fa-youtube"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="quick-address">
                        <h2>HEAD OFFICE</h2>
                        <div class="quick-icon">
                            <ul>
                                <!-- <li> <span> <i class="fas fa-phone"></i> </span> <a> 08000016609 </a>  </li>
                                <li> <span><i class="far fa-envelope"></i></span> <a> info.afbl@akij.net  </a> </li> -->
                                <li> <span> <i class="fas fa-map-marker-alt"></i> </span>
                                    <a>198 Bir Uttam, Mir Shawkat Sarak, Gulshan Link Road, Tejgaon, Dhaka-1208 </a>
                                  
                                </li>
                                <!-- <li> <span> <i class="far fa-clock"></i> </span> <a>  Sat to Thu - 9:00am to 6:00pm (Friday Closed) , Except on Government Holidays </a> </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="quick-address">
                        <h2> FACTORY OFFICE </h2></div>
                    <div class="single-widget--menu">
                        <ul>
                            <li> <span> <i class="fas fa-map-marker-alt"></i> </span>
                                <a>Nabigonj, Kadam Rasul, Bandar, Narayangonj </a>
                              
                            </li>
                             
                        </ul>
                    </div>
                    
                </div>
                <div class="col-lg-3">
                    <div class="quick-address">
                        <h2>Hotline </h2>
                        <p>08000016609 or 16609</p>
                    </div>
                    <div class="quick-address">
                        <h2>Email</h2>
                        <p> info.akijcement@akij.net</p>
                    </div>
                    
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="copy">
                        <p> <b>© Copyright 2020 Akij Group. All Rights Reserved. Developed By
                            
                            <a href="http://www.akij.net" target="_blanck">Akij Group IT</b></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- Footer Area End  -->

    <!-- ===========================
    =====>> Jquery <<===== -->

    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script> 
    <script src="assets/js/parallax.js"></script>
    <script src="assets/js/carousel.min.js"></script>
    <script src="assets/js/custom.js"></script>

    <!-- =====>> End Jquery <<===== 
    =========================== -->

</body>

</html>